ul,
ol {
  list-style: none;
}
.link {
  text-decoration: none;
}

button {
  cursor: pointer;
}
body {
  font-family: roboto, sans-serif;
  font-style: normal;
}

:root {
  --accent-color: #2e2f42;
  --color: #4d5ae5;
}
.logo-web {
  color: var(--color);
  width: 44px;
  height: 21px;
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.logo-studio {
  color: var(--accent-color);
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.contact-tel,
.mail {
  font-style: normal;
}
